@import "~theme/colors";
@import "~theme/typography";

%heading {
    margin-bottom: 20px;
}

.heading {
    &__h1 {
        @extend %heading;
        font-size: 36px;
    }

    &__h2 {
        @extend %heading;
        font-size: 24px;
    }

    &__h3 {
        @extend %heading;
        font-size: 18px;
    }
}
